!!! 5
%html{ :lang => "en" }
  %head
    %meta(charset="utf-8")
    %title Olga Antonenko Young
    %link(rel="stylesheet" href="layout.css")

  %body
    %header
      %h1 Olga Antonenko Young

    %section.main
      %section.photo
        %img(src="kissing_buddha.jpg" alt="'Kissing' a Buddha")
        
      %nav
        %ul
          %li
            %a(href="cv.html") Curriculum Vitae
          %li
            %a(href="research.html") Research
          %li
            %a(href="teaching.html") Teaching
          %li
            %a(href="personal.html") Personal
          %li
            %a(href="links.html") Links
      %p I am a graduate student in the Social/Personality Psychology Program at the University of California, Berkeley.
      %p Contact me at: oantonenko+web@berkeley.edu
      
    %footer
      %p &copy All content copyright Olga Antonenko Young.
