!!! 5
%html{ :lang => "en" }
  %head
    %meta(charset="utf-8")
    %title Olga Antonenko Young
    %link(rel="stylesheet" href="layout.css")

  %body
    %header
      %h1 Olga Antonenko Young

    %section.main
      %nav
        %ul
          %li
            %a(href="") Main
          %li
            %a(href="olga-antonenko-young-resume.pdf") Resume
          %li
            %span Research
          / %li
          /   %a(href="teaching.html") Teaching
          %li
            %a(href="personal.html") Personal
          / %li
          /   %a(href="links.html") Links
      
      %section.content
        %h2 Poster Presentations

        %p
          %a(href="SPSP_2013_Poster.pdf") You didn’t build that: Differences in alpha pride predict attitudes towards inequality

        %h2 Religious and Political Orientations as Predictors of Moral Judgments

        %p Religion and politics are closely related, both historically and in the current heated political climate of the US.  This research examines how identification with political parties and religious groups shapes moral judgments including attitudes towards economic inequality, definitions of marriage and family, and other current social issues.

        %h2 Individual Differences in Interpersonal Emotional Experience

        %p Individuals differ in emotional experiences including the antecedents (causes), appraisals (thoughts and interpretations), and downstream effects. My research focuses on a small category of social emotions including pride, compassion, awe, and gratitude. Differences in when, how, and why these emotions arise predict social attitudes and behavior including judgments of fairness, resource distribution, and prosocial behavior.

        %h2 Social Emotions

        %p Social emotions serve the vital function of binding individuals into relationships and communities.  This line of research focuses on the experience as well as the neural correlates of emotions including embarrassment, compassion, and forgiveness. 

      
    %footer
      %p &copy; All content copyright Olga Antonenko Young.
